<form id="fieldForm" class="smart-form ng-pristine ng-valid">
	<fieldset>
		<div class="row">
			<section class="col col-6">
				<label class="label">标题</label> <label class="input"><input name="id" ng-model="field.id" type="hidden"><input name="modelId" ng-model="field.modelId" type="hidden"> <input name="title" ng-model="field.title"
					type="text"> </label>
			</section>
			<section class="col col-6">
				<label class="label">字段名</label> <label class="input"> <input name="fieldCode" ng-model="field.fieldCode" type="text">
				</label>
			</section>
		</div>
		<div class="row">
			<section class="col col-6">
				<label class="label">数据类型</label> <label class="select"> <select name="dataType" ng-model="field.dataType">
						<option value="STRING">字符</option>
						<option value="NUMBER">数字</option>
						<option value="BOOLEAN">布尔</option>
						<option value="DATE">日期</option>
						<option value="CLOB">字符大对象</option>
				</select> <i></i>
				</label>
			</section>
			<section class="col col-6">
				<label class="label">是否必填</label>
				<div class="inline-group">
					<label class="radio"> <input type="radio" name="required" ng-value="true" ng-model="field.required"> <i></i>是
					</label> <label class="radio"> <input type="radio" name="required" ng-value="false" ng-model="field.required"> <i></i>否
					</label>
				</div>
			</section>
		</div>
		<div class="row">
			<section class="col col-6">
				<label class="label">数据长度</label> <label class="input"> <input name="dataLength" ng-model="field.dataLength" type="text">
				</label>
			</section>
			<section class="col col-6">
				<label class="label">显示位置</label> <label class="input"><input name="ordinal" ng-model="field.ordinal" type="text"> </label>
			</section>
		</div>
		<div class="row">
			<section class="col col-6">
				<label class="label">表单类型</label> <label class="select"> <select name="formType" ng-model="field.formType">
						<option value="TEXT">文本框</option>
						<option value="TEXTAREA">文本域</option>
						<option value="RICHTEXT">富文本</option>
						<option value="DATE">日期</option>
						<option value="FILE">文件</option>
						<option value="SINGLE">单选</option>
						<option value="MULTI">多选</option>
				</select> <i></i>
				</label>
			</section>
			<section class="col col-6" ng-show="field.formType=='SINGLE' || field.formType=='MULTI'">
                <label class="label">选项值（JSON格式）</label> <label class="input"> <input name="formValues" ng-model="field.options" type="text">
                </label>
			</section>
		</div>
	</fieldset>
</form>