<form id="modelForm" class="smart-form ng-pristine ng-valid">
	<fieldset>
		<section>
			<label class="label">标题</label> <label class="input"><input name="id" ng-model="model.id" type="hidden"> <input name="title" ng-model="model.title" type="text">
			</label>
		</section>
		<section>
            <label class="label">表名</label> <label class="input"><input name="tableCode" ng-model="model.tableCode" type="text">
            </label>
        </section>
		<section>
            <label class="label">描述</label> <label class="textarea"> <textarea name="description" ng-model="model.description" rows="2" class="custom-scroll"></textarea>
            </label>
        </section>
	</fieldset>
</form>