<form id="sortForm" class="smart-form ng-pristine ng-valid" >
	<fieldset>
	  <!--  <section>
			<label class="label">上级分类</label> 
			<label class="input">
				<input  class="form-control" ng-model="sort.parentName" type="text" readonly="readonly">
			</label>
		</section> -->
		<section>
			<label class="label">分类名</label> 
			<label class="input">
			    <input name="id" ng-model="sort.id" type="hidden" id="_sortId">
				<input name="sortName" ng-model="sort.sortName" id="_sortName" type="text">
			</label>
		</section>
	</fieldset>
</form>