<div id="content">
				<!-- row -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-sm-12">
								<div class="text-center error-box">
									<h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> 错误 403</h1>
									<h2 class="font-xl"><strong>对不起，你没有权限访问</strong></h2>
									<br>
									<p class="lead semi-bold">
										<strong>请联系管理员</strong><br><br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>