<form id="columnForm" class="smart-form ng-pristine ng-valid">
	<fieldset>
		<section>
			<label class="label">标题</label> <label class="input"><input name="id" ng-model="column.id" type="hidden"> <input name="title" ng-model="column.title" type="text">
			</label>
		</section>
		<section>
			<label class="label">上级</label>
			<label>
                <dw-select-tree data-place-holder="选择上级" data-id="editParentId" data-items="columnsTree.data" data-current-item="columnsTree.editCurrentItem"></dw-select-tree>
            </label>
		</section>
		<div class="row">
            <section class="col col-6">
                <label class="label">栏目目录</label> <label class="input"> <input name="dirName" ng-model="column.dirName" type="text">
                </label>
            </section>
            <section class="col col-6">
                <label class="label">数据源</label> 
                <label class="select">
                <input name="datasourceId" type="hidden"></input>
                <hierarchical-selector placeholder="请选择首页模板" data="datasources" can-select-item="item.t == 'datasource'" on-selection-changed="column.datasourceId = items[0].id" selection="datasource" no-button/>
                </label>
                <!-- 
                <label class="select"> <select name="datasourceId" ng-model="column.datasourceId">
                        <option value="">选择数据源</option>
                        <option ng-repeat="item in datasources" value="{{item.id}}">{{item.title}}</option>
                </select> <i></i>
                </label>
                 -->
            </section>
        </div>
		<div class="row">
			<section class="col col-6">
				<label class="label">首页模板</label> 
				<label class="select">
				<input name="homeTemplateId" type="hidden"></input>
				<hierarchical-selector placeholder="请选择首页模板" data="homeTemplates" can-select-item="item.t == 'template'" on-selection-changed="column.homeTemplateId = items[0].id" selection="homeTemplate" no-button/>
				</label>
				<!--  
				<label class="select"> <select name="homeTemplateId" ng-model="column.homeTemplateId">
						<option value="">选择首页模板</option>
						<option ng-repeat="item in homeTemplates" value="{{item.id}}">{{item.templateName}}</option>
				</select> <i></i>
				</label>
				-->
			</section>
            <section class="col col-6">
                <label class="label">内容页模板</label>
                <label class="select">
                <input name="contentTemplateId" type="hidden"></input>
                <hierarchical-selector placeholder="请选择内容页模板" data="contentTemplates" can-select-item="item.t == 'template'" on-selection-changed="column.contentTemplateId = items[0].id"  selection="contentTemplate" no-button></hierarchical-selector>
               </label>
                <!--  
                <label class="select"> <select name="contentTemplateId" ng-model="column.contentTemplateId">
                        <option value="">选择内容页模板</option>
                        <option ng-repeat="item in contentTemplates" value="{{item.id}}">{{item.templateName}}</option>
                </select> <i></i>
                </label>
                -->
            </section>
		</div>
		<section>
            <label class="label">描述</label> <label class="textarea"> <textarea name="description" ng-model="column.description" rows="2" class="custom-scroll"></textarea>
            </label>
        </section>
	</fieldset>
</form>