<div id="content">
	<div class="row">
		<big-breadcrumbs items="['模版', '模版片段']" icon="table"
			class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
		<div smart-include="/app/layout/partials/sub-header.tpl.html"></div>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" widget-grid>

		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET ROW START -->
			<div class="col-sm-12">

				<div jarvis-widget id="wid-id-0" data-widget-colorbutton="false"
					data-widget-editbutton="false" data-widget-deletebutton="false"
					data-widget-sortable="false">
					<header>
						<h2>编辑模版片段</h2>
					</header>
					<!-- widget div-->
					<div>
						<!-- widget content -->
						<div class="widget-body">
							<bootstrap-snippet-form></bootstrap-snippet-form>
							<!-- <div id="smart_sort_tree" smart-jqui-dialog data-modal="true" data-resizable="true">
							    <div data-dialog-title>
							        <div class='widget-header'><h4><i class='icon-ok'></i>分类选择</h4></div>
							    </div>
								<div select-sort-tree sort-type="template_snippet" obj="snippet"></div>
							</div> -->
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget div -->

				</div>

			</div>
		</div>

	</section>



</div>